h1 {color:gold;
}
h2 {text-align: center;
}
body {background-color: aquamarine;
}
body {font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#imagem1 {width: 400px;
}
#imagem1 {margin-left: 30%;
}
